.btn{
  border-radius: 0 !important;
  box-shadow: -1px 10px 10px -12px rgba(0, 0, 0, 0.75) !important;
}

.content-wrapper{
  overflow: auto;

  .content-header{
    .back{
      width: 25px;
      height: 25px;
      line-height: 20px;
      font-size: 20px;
      background: #fff;
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      color: #666;
      border-radius: 50%;
      border: 2px solid #666;
      transition: .3s ease;

      &:hover{
        background: #666;
        color: #fff;
        border-color: #666;
      }
    }
    .title{
      display: inline-block;
      margin: 0;
      font-size: 20px;
      color: #444;
    }
  }
}

form .form-message{
  display: block;
  width: 100%;
  background: #fff;
  color: #111;
  padding: .5rem 1rem;
  font-size: 1.4rem;

  &.form-message-warning{
    background: #FF5722;
    color: #fff;
  }
  &.form-message-success{
    background: #4CAF50;
    color: #fff;
  }
  &.form-message-info{
    background: #2196F3;
    color: #fff;
  }

  &.form-message-primary{
    background: #00B8D4;
    color: #fff;
  }

  .text-big{
    font-size: 15px;
  }
}
form .fileUpload, .filesUpload{
  display: block;
  width: 120px;
  height: 30px;
  background: #4CAF50;
  overflow: hidden;
  margin: 1rem auto;
  cursor: pointer;
  position: relative;

  .filesCounter{
    padding-left: 5px;
  }

  input {
    display: block !important;
    width: 120px !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
  }

  &::before{
    content: 'Wybierz pliki';
    color: #fff;
    cursor: pointer;
  }
}

form.fileUpload{
  &::before{
    content: 'Wybierz plik';
    color: #fff;
    cursor: pointer;
  }
}
.form-group, .checkbox-wrap{
  input[type="checkbox"]{
    display: none;

    & + .checkbox-box{
      width: 20px;
      height: 20px;
      display: inline-block;
      border: .1rem solid rgb(210, 214, 222);
      transition: .3s ease;
      cursor: pointer;
      margin: 0 5px;
      position: relative;
    }
    & + .checkbox-box::after{
      content: '';
      display: none;
    }
    &:checked + .checkbox-box{
      background: #f4f4f4
    }
    &:checked + .checkbox-box::after{
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #555;
      border-width: 0 2px 2px 0;
      display: block;
      @include rotate(45deg);
    }
  }

  .checkbox-label{
    vertical-align: super;
    display: inline-block;
    padding-right: 5px;
  }
}

.radio-list-wrap{
  .control-label{
    display: inline-block;
    padding-right: 5px;
  }

  .radio-list{
    display: inline-block;
  }

  input[type="radio"]{
    display: none;

    & + .radio-box{
      width: 20px;
      height: 20px;
      display: inline-block;
      border: .1rem solid rgb(210, 214, 222);
      border-radius: 50%;
      transition: .3s ease;
      cursor: pointer;
      margin: 0 5px;
      position: relative;
    }
    & + .radio-box::after{
      content: '';
      display: none;
    }
    &:checked + .radio-box{
      background: #f4f4f4
    }
    &:checked + .radio-box::after{
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #555;
      border-width: 0 2px 2px 0;
      display: block;
      @include rotate(45deg);
    }
  }
}

.main-footer{
  padding: 3px 15px;

  p{
    padding: 0;
    margin: 0;
  }

  a{
    text-decoration: none;
    color: #444;
    font-weight: 600;
  }
}

.lang-menu{
  .list{
    border-top: none;

    li > a:hover{
      background: #f9f9f9;
      color: #222;
    }
  }
}

.top-navigation{
  .content-wrapper{
    margin: 0;

    .content-header {
      position: relative;
      margin: 15px 0;
      padding: 0;

      .breadcrumb {
        background: transparent;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        top: 15px;
        right: 10px;
        border-radius: 2px;
        float: none;
        position: static;
        text-align: left;
        padding: 0 5px;
      }
    }

    .content{
      padding: 0;
    }
  }

  .main-footer{
    margin: 0;
  }

  .navbar-toggle {
    color: #fff;
    border: 0;
    margin: 0;
    padding: 15px 16px;
    float: none !important;

    i{
      margin-right: 5px;
    }
  }
}