.error{
  background: #fff;
  border-top: .5rem solid #D32F2F;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .error-message{
    color: #222;
    font-weight: 300;
    font-size: 3rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
}