.menu{
  .header{
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    width: 100%;
    display: inline-block;
  }
}

.top-navigation{
  .menu-top{
    .user-menu {
      height: 50px;

      & > a{
        color: #fff;
        display: inline-block;
        height: 100%;
        line-height: 50px;
        padding: 0 10px;
      }
      .dropdown-menu {
        padding: 1px 0 0 0;
        border-top-width: 0;
        width: 280px;
        border-radius: 0 0 4px 4px;
        left: auto;
        right: 0;
        >.user-body {
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          padding: 15px;
          border-bottom: 1px solid #f4f4f4;
          border-top: 1px solid #dddddd;
          &:before {
            content: " ";
            display: table;
          }
          &:after {
            content: " ";
            display: table;
            clear: both;
          }
          a {
            color: #444 !important;
          }
        }
        >li.user-header {
          height: 175px;
          padding: 10px;
          text-align: center;
          width: 100%;
          >img {
            z-index: 5;
            height: 90px;
            width: 90px;
            border: 3px solid rgba(255, 255, 255, 0.2);
          }
          >p {
            z-index: 5;
            color: #fff;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            margin-top: 10px;
            >small {
              display: block;
              font-size: 12px;
            }
          }
        }
        >.user-footer {
          background-color: #f9f9f9;
          width: 100%;
          padding: 10px;
          &:before {
            content: " ";
            display: table;
          }
          &:after {
            content: " ";
            display: table;
            clear: both;
          }
          .btn-default {
            color: #666666;
            box-shadow: none !important;
          }
        }
      }
      .user-image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -2px;
      }
    }
  }

  .navbar-nav{
    padding: 0 15px;
    margin: 0;

    button{
      padding: 0;
      line-height: 50px;
    }
  }

  .main-header {
    .navbar-custom-menu{
      float: left;

    }
    .header-menu {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;

      li {
        display: inline-block;

        a.active {
          background: rgba(0, 0, 0, 0.1);
          color: #f6f6f6;
        }

        .icon {
          margin-right: 5px;
        }
      }

      .user-menu {
        float: right;
      }
    }
  }

  @media (max-width: 768px){
    .navbar-custom-menu .navbar-nav > li {
      display: block;
      width: 100%;
    }
    .main-header .navbar-custom-menu {
      float: right;
      padding: 0 0 10px 0;
    }
  }
}
