@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import "../_fluid-elements/mixins";
@import "_common", "_site", "_settings", "_user", "_language", "_menu", "_error", "_cron", "_auth";

html, body{
  width: 100%;
  height: 100%;
}

.tabbedView{
  .controls .create-btn{
    color: #00a65a;
    text-decoration: none;
  }
}

.loadScreen{
  background: #ecf0f5 !important;

  .loadIcon {
    color: #d2d6de;
  }
}

.wrapper.auth{
  .header{
    background: #fff;
    color: #444;
    border-bottom: 1px solid #d2d6de;
    padding: 14px;

    .title{
      font-size: 16px;
    }

    a{
      color: #444;
      text-decoration: none;
      padding-right: .5rem;
      margin-right: 1rem;
      border-right: .1rem solid #ccc;
    }
  }
  .main-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 767px){
  .main-header{
    position: fixed;
    width: 100%;
  }

  .main-sidebar{
    position: fixed;
  }

  .content-wrapper{
    margin-top:50px;
  }
}
@media (min-width: 768px){
  *::-webkit-scrollbar{
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #fff
  }

  *::-webkit-scrollbar-thumb {
    background: #d2d6de
  }
}