.skin-blue {
  .main-header {
    .navbar {
      background-color: #3c8dbc;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #367fa9;
        }
      }
    }
    .logo {
      background-color: #367fa9;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #357ca5;
      }
    }
    li.user-header {
      background-color: #3c8dbc;
    }
  }
  .user-profile {
    .box-header {
      background-color: #3c8dbc;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #222d32;
  }
  .main-sidebar {
    background-color: #222d32;
  }
  .left-side {
    background-color: #222d32;
  }
  .user-panel {
    >.info {
      color: #fff;
      >a {
        color: #fff;
      }
    }
  }
  .menu{
    >span.header {
      color: #4b646f;
      background: #1a2226;
    }
  }
  .sidebar-menu {
    >li {
      >a {
        border-left: 3px solid transparent;
      }
      &:hover {
        >a {
          color: #fff;
          background: #1e282c;
          border-left-color: #3c8dbc;
        }
      }
      >.treeview-menu {
        margin: 0 1px;
        background: #2c3b41;
      }
    }
    >li.active {
      >a {
        color: #fff;
        background: #1e282c;
        border-left-color: #3c8dbc;
      }
    }
  }
  .sidebar {
    a {
      color: #b8c7ce;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #8aa4af;
        &:hover {
          color: #fff;
        }
      }
    }
    >li.active {
      >a {
        color: #fff;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-blue.layout-top-nav {
  .main-header {
    >.logo {
      background-color: #3c8dbc;
      color: #fff;
      border-bottom: 0 solid transparent;
      background-color: #3c8dbc;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #3b8ab8;
        background-color: #3b8ab8;
      }
    }
  }
}
.skin-blue-light {
  .main-header {
    .navbar {
      background-color: #3c8dbc;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #367fa9;
        }
      }
    }
    .logo {
      background-color: #3c8dbc;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #3b8ab8;
      }
    }
    li.user-header {
      background-color: #3c8dbc;
    }
  }
  .user-profile {
    .box-header {
      background-color: #3c8dbc;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #f9fafc;
  }
  .main-sidebar {
    background-color: #f9fafc;
  }
  .left-side {
    background-color: #f9fafc;
  }
  .content-wrapper {
    border-left: 1px solid #d2d6de;
  }
  .main-footer {
    border-left: 1px solid #d2d6de;
    border-top-color: #d2d6de;
  }
  .user-panel {
    >.info {
      color: #444;
      >a {
        color: #444;
      }
    }
  }
  .menu{
    >span.header {
      color: #848484;
      background: #f9fafc;
    }
  }
  .sidebar-menu {
    >li {
      -webkit-transition: border-left-color .3s ease;
      -o-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
      >a {
        border-left: 3px solid transparent;
        font-weight: 600;
      }
      &:hover {
        >a {
          color: #000;
          background: #f4f4f5;
        }
      }
      >.treeview-menu {
        background: #f4f4f5;
      }
    }
    >li.active {
      >a {
        color: #000;
        background: #f4f4f5;
        font-weight: 600;
      }
      border-left-color: #3c8dbc;
    }
  }
  .sidebar {
    a {
      color: #444;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #777;
        &:hover {
          color: #000;
        }
      }
    }
    >li.active {
      >a {
        color: #000;
        font-weight: 600;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-black {
  .main-header {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    .navbar-toggle {
      color: #333;
    }
    .navbar-brand {
      color: #333;
      border-right: 1px solid #eee;
    }
    >.navbar {
      background-color: #fff;
      .nav {
        >li {
          >a {
            color: #333;
            &:hover {
              background: #fff;
              color: #999;
            }
            &:active {
              background: #fff;
              color: #999;
            }
            &:focus {
              background: #fff;
              color: #999;
            }
          }
        }
        .open {
          >a {
            background: #fff;
            color: #999;
            &:hover {
              background: #fff;
              color: #999;
            }
            &:focus {
              background: #fff;
              color: #999;
            }
          }
        }
        >.active {
          >a {
            background: #fff;
            color: #999;
          }
        }
      }
      .sidebar-toggle {
        color: #333;
        &:hover {
          color: #999;
          background: #fff;
        }
      }
      >.sidebar-toggle {
        color: #333;
        border-right: 1px solid #eee;
      }
      .navbar-nav {
        >li {
          >a {
            border-right: 1px solid #eee;
          }
        }
      }
      .navbar-custom-menu {
        .navbar-nav {
          >li {
            >a {
              border-left: 1px solid #eee;
              border-right-width: 0;
            }
          }
        }
      }
      .navbar-right {
        >li {
          >a {
            border-left: 1px solid #eee;
            border-right-width: 0;
          }
        }
      }
    }
    >.logo {
      background-color: #fff;
      color: #333;
      border-bottom: 0 solid transparent;
      border-right: 1px solid #eee;
      &:hover {
        background-color: #fcfcfc;
      }
    }
    li.user-header {
      background-color: #222;
    }
  }
  .user-profile {
    .box-header {
      background-color: #333;
    }
  }
  .content-header {
    background: transparent;
    box-shadow: none;
  }
  .wrapper {
    background-color: #222d32;
  }
  .main-sidebar {
    background-color: #222d32;
  }
  .left-side {
    background-color: #222d32;
  }
  .user-panel {
    >.info {
      color: #fff;
      >a {
        color: #fff;
      }
    }
  }
  .menu{
    >span.header {
      color: #4b646f;
      background: #1a2226;
    }
  }
  .sidebar-menu {
    >li {
      >a {
        border-left: 3px solid transparent;
      }
      &:hover {
        >a {
          color: #fff;
          background: #1e282c;
          border-left-color: #fff;
        }
      }
      >.treeview-menu {
        margin: 0 1px;
        background: #2c3b41;
      }
    }
    >li.active {
      >a {
        color: #fff;
        background: #1e282c;
        border-left-color: #fff;
      }
    }
  }
  .sidebar {
    a {
      color: #b8c7ce;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #8aa4af;
        &:hover {
          color: #fff;
        }
      }
    }
    >li.active {
      >a {
        color: #fff;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
  .pace {
    .pace-progress {
      background: #222;
    }
    .pace-activity {
      border-top-color: #222;
      border-left-color: #222;
    }
  }
}
.skin-black-light {
  .main-header {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    .navbar-toggle {
      color: #333;
    }
    .navbar-brand {
      color: #333;
      border-right: 1px solid #eee;
    }
    >.navbar {
      background-color: #fff;
      .nav {
        >li {
          >a {
            color: #333;
            &:hover {
              background: #fff;
              color: #999;
            }
            &:active {
              background: #fff;
              color: #999;
            }
            &:focus {
              background: #fff;
              color: #999;
            }
          }
        }
        .open {
          >a {
            background: #fff;
            color: #999;
            &:hover {
              background: #fff;
              color: #999;
            }
            &:focus {
              background: #fff;
              color: #999;
            }
          }
        }
        >.active {
          >a {
            background: #fff;
            color: #999;
          }
        }
      }
      .sidebar-toggle {
        color: #333;
        &:hover {
          color: #999;
          background: #fff;
        }
      }
      >.sidebar-toggle {
        color: #333;
        border-right: 1px solid #eee;
      }
      .navbar-nav {
        >li {
          >a {
            border-right: 1px solid #eee;
          }
        }
      }
      .navbar-custom-menu {
        .navbar-nav {
          >li {
            >a {
              border-left: 1px solid #eee;
              border-right-width: 0;
            }
          }
        }
      }
      .navbar-right {
        >li {
          >a {
            border-left: 1px solid #eee;
            border-right-width: 0;
          }
        }
      }
    }
    >.logo {
      background-color: #fff;
      color: #333;
      border-bottom: 0 solid transparent;
      border-right: 1px solid #eee;
      &:hover {
        background-color: #fcfcfc;
      }
    }
    li.user-header {
      background-color: #222;
    }
  }
  .user-profile {
    .box-header {
      background-color: #333;
    }
  }
  .content-header {
    background: transparent;
    box-shadow: none;
  }
  .wrapper {
    background-color: #f9fafc;
  }
  .main-sidebar {
    background-color: #f9fafc;
  }
  .left-side {
    background-color: #f9fafc;
  }
  .content-wrapper {
    border-left: 1px solid #d2d6de;
  }
  .main-footer {
    border-left: 1px solid #d2d6de;
  }
  .user-panel {
    >.info {
      color: #444;
      >a {
        color: #444;
      }
    }
  }
  .menu{
    >span.header {
      color: #848484;
      background: #f9fafc;
    }
  }
  .sidebar-menu {
    >li {
      -webkit-transition: border-left-color .3s ease;
      -o-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
      >a {
        border-left: 3px solid transparent;
        font-weight: 600;
      }
      &:hover {
        >a {
          color: #000;
          background: #f4f4f5;
        }
      }
      >.treeview-menu {
        background: #f4f4f5;
      }
    }
    >li.active {
      >a {
        color: #000;
        background: #f4f4f5;
        font-weight: 600;
      }
      border-left-color: #fff;
    }
  }
  .sidebar {
    a {
      color: #444;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #777;
        &:hover {
          color: #000;
        }
      }
    }
    >li.active {
      >a {
        color: #000;
        font-weight: 600;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-green {
  .main-header {
    .navbar {
      background-color: #00a65a;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #008d4c;
        }
      }
    }
    .logo {
      background-color: #008d4c;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #008749;
      }
    }
    li.user-header {
      background-color: #00a65a;
    }
  }
  .user-profile {
    .box-header {
      background-color: #00a65a;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #222d32;
  }
  .main-sidebar {
    background-color: #222d32;
  }
  .left-side {
    background-color: #222d32;
  }
  .user-panel {
    >.info {
      color: #fff;
      >a {
        color: #fff;
      }
    }
  }
  .menu{
    >span.header {
      color: #4b646f;
      background: #1a2226;
    }
  }
  .sidebar-menu {
    >li {
      >a {
        border-left: 3px solid transparent;
      }
      &:hover {
        >a {
          color: #fff;
          background: #1e282c;
          border-left-color: #00a65a;
        }
      }
      >.treeview-menu {
        margin: 0 1px;
        background: #2c3b41;
      }
    }
    >li.active {
      >a {
        color: #fff;
        background: #1e282c;
        border-left-color: #00a65a;
      }
    }
  }
  .sidebar {
    a {
      color: #b8c7ce;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #8aa4af;
        &:hover {
          color: #fff;
        }
      }
    }
    >li.active {
      >a {
        color: #fff;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-green-light {
  .main-header {
    .navbar {
      background-color: #00a65a;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #008d4c;
        }
      }
    }
    .logo {
      background-color: #00a65a;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #00a157;
      }
    }
    li.user-header {
      background-color: #00a65a;
    }
  }
  .user-profile {
    .box-header {
      background-color: #00a65a;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #f9fafc;
  }
  .main-sidebar {
    background-color: #f9fafc;
  }
  .left-side {
    background-color: #f9fafc;
  }
  .content-wrapper {
    border-left: 1px solid #d2d6de;
  }
  .main-footer {
    border-left: 1px solid #d2d6de;
  }
  .user-panel {
    >.info {
      color: #444;
      >a {
        color: #444;
      }
    }
  }
  .menu{
    >span.header {
      color: #848484;
      background: #f9fafc;
    }
  }
  .sidebar-menu {
    >li {
      -webkit-transition: border-left-color .3s ease;
      -o-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
      >a {
        border-left: 3px solid transparent;
        font-weight: 600;
      }
      &:hover {
        >a {
          color: #000;
          background: #f4f4f5;
        }
      }
      >.treeview-menu {
        background: #f4f4f5;
      }
    }
    >li.active {
      >a {
        color: #000;
        background: #f4f4f5;
        font-weight: 600;
      }
      border-left-color: #00a65a;
    }
  }
  .sidebar {
    a {
      color: #444;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #777;
        &:hover {
          color: #000;
        }
      }
    }
    >li.active {
      >a {
        color: #000;
        font-weight: 600;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-red {
  .main-header {
    .navbar {
      background-color: #dd4b39;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #d73925;
        }
      }
    }
    .logo {
      background-color: #d73925;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #d33724;
      }
    }
    li.user-header {
      background-color: #dd4b39;
    }
  }
  .user-profile {
    .box-header {
      background-color: #dd4b39;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #222d32;
  }
  .main-sidebar {
    background-color: #222d32;
  }
  .left-side {
    background-color: #222d32;
  }
  .user-panel {
    >.info {
      color: #fff;
      >a {
        color: #fff;
      }
    }
  }
  .menu{
    >span.header {
      color: #4b646f;
      background: #1a2226;
    }
  }
  .sidebar-menu {
    >li {
      >a {
        border-left: 3px solid transparent;
      }
      &:hover {
        >a {
          color: #fff;
          background: #1e282c;
          border-left-color: #dd4b39;
        }
      }
      >.treeview-menu {
        margin: 0 1px;
        background: #2c3b41;
      }
    }
    >li.active {
      >a {
        color: #fff;
        background: #1e282c;
        border-left-color: #dd4b39;
      }
    }
  }
  .sidebar {
    a {
      color: #b8c7ce;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #8aa4af;
        &:hover {
          color: #fff;
        }
      }
    }
    >li.active {
      >a {
        color: #fff;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-red-light {
  .main-header {
    .navbar {
      background-color: #dd4b39;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #d73925;
        }
      }
    }
    .logo {
      background-color: #dd4b39;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #dc4735;
      }
    }
    li.user-header {
      background-color: #dd4b39;
    }
  }
  .user-profile {
    .box-header {
      background-color: #dd4b39;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #f9fafc;
  }
  .main-sidebar {
    background-color: #f9fafc;
  }
  .left-side {
    background-color: #f9fafc;
  }
  .content-wrapper {
    border-left: 1px solid #d2d6de;
  }
  .main-footer {
    border-left: 1px solid #d2d6de;
  }
  .user-panel {
    >.info {
      color: #444;
      >a {
        color: #444;
      }
    }
  }
  .menu{
    >span.header {
      color: #848484;
      background: #f9fafc;
    }
  }
  .sidebar-menu {
    >li {
      -webkit-transition: border-left-color .3s ease;
      -o-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
      >a {
        border-left: 3px solid transparent;
        font-weight: 600;
      }
      &:hover {
        >a {
          color: #000;
          background: #f4f4f5;
        }
      }
      >.treeview-menu {
        background: #f4f4f5;
      }
    }
    >li.active {
      >a {
        color: #000;
        background: #f4f4f5;
        font-weight: 600;
      }
      border-left-color: #dd4b39;
    }
  }
  .sidebar {
    a {
      color: #444;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #777;
        &:hover {
          color: #000;
        }
      }
    }
    >li.active {
      >a {
        color: #000;
        font-weight: 600;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-yellow {
  .main-header {
    .navbar {
      background-color: #f39c12;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #e08e0b;
        }
      }
    }
    .logo {
      background-color: #e08e0b;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #db8b0b;
      }
    }
    li.user-header {
      background-color: #f39c12;
    }
  }
  .user-profile {
    .box-header {
      background-color: #f39c12;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #222d32;
  }
  .main-sidebar {
    background-color: #222d32;
  }
  .left-side {
    background-color: #222d32;
  }
  .user-panel {
    >.info {
      color: #fff;
      >a {
        color: #fff;
      }
    }
  }
  .menu{
    >span.header {
      color: #4b646f;
      background: #1a2226;
    }
  }
  .sidebar-menu {
    >li {
      >a {
        border-left: 3px solid transparent;
      }
      &:hover {
        >a {
          color: #fff;
          background: #1e282c;
          border-left-color: #f39c12;
        }
      }
      >.treeview-menu {
        margin: 0 1px;
        background: #2c3b41;
      }
    }
    >li.active {
      >a {
        color: #fff;
        background: #1e282c;
        border-left-color: #f39c12;
      }
    }
  }
  .sidebar {
    a {
      color: #b8c7ce;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #8aa4af;
        &:hover {
          color: #fff;
        }
      }
    }
    >li.active {
      >a {
        color: #fff;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-yellow-light {
  .main-header {
    .navbar {
      background-color: #f39c12;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #e08e0b;
        }
      }
    }
    .logo {
      background-color: #f39c12;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #f39a0d;
      }
    }
    li.user-header {
      background-color: #f39c12;
    }
  }
  .user-profile {
    .box-header {
      background-color: #f39c12;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #f9fafc;
  }
  .main-sidebar {
    background-color: #f9fafc;
  }
  .left-side {
    background-color: #f9fafc;
  }
  .content-wrapper {
    border-left: 1px solid #d2d6de;
  }
  .main-footer {
    border-left: 1px solid #d2d6de;
  }
  .user-panel {
    >.info {
      color: #444;
      >a {
        color: #444;
      }
    }
  }
  .menu{
    >span.header {
      color: #848484;
      background: #f9fafc;
    }
  }
  .sidebar-menu {
    >li {
      -webkit-transition: border-left-color .3s ease;
      -o-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
      >a {
        border-left: 3px solid transparent;
        font-weight: 600;
      }
      &:hover {
        >a {
          color: #000;
          background: #f4f4f5;
        }
      }
      >.treeview-menu {
        background: #f4f4f5;
      }
    }
    >li.active {
      >a {
        color: #000;
        background: #f4f4f5;
        font-weight: 600;
      }
      border-left-color: #f39c12;
    }
  }
  .sidebar {
    a {
      color: #444;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #777;
        &:hover {
          color: #000;
        }
      }
    }
    >li.active {
      >a {
        color: #000;
        font-weight: 600;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-purple {
  .main-header {
    .navbar {
      background-color: #605ca8;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #555299;
        }
      }
    }
    .logo {
      background-color: #555299;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #545096;
      }
    }
    li.user-header {
      background-color: #605ca8;
    }
  }
  .user-profile {
    .box-header {
      background-color: #605ca8;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #222d32;
  }
  .main-sidebar {
    background-color: #222d32;
  }
  .left-side {
    background-color: #222d32;
  }
  .user-panel {
    >.info {
      color: #fff;
      >a {
        color: #fff;
      }
    }
  }
  .menu{
    >span.header {
      color: #4b646f;
      background: #1a2226;
    }
  }
  .sidebar-menu {
    >li {
      >a {
        border-left: 3px solid transparent;
      }
      &:hover {
        >a {
          color: #fff;
          background: #1e282c;
          border-left-color: #605ca8;
        }
      }
      >.treeview-menu {
        margin: 0 1px;
        background: #2c3b41;
      }
    }
    >li.active {
      >a {
        color: #fff;
        background: #1e282c;
        border-left-color: #605ca8;
      }
    }
  }
  .sidebar {
    a {
      color: #b8c7ce;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #8aa4af;
        &:hover {
          color: #fff;
        }
      }
    }
    >li.active {
      >a {
        color: #fff;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
.skin-purple-light {
  .main-header {
    .navbar {
      background-color: #605ca8;
      .nav {
        >li {
          >a {
            color: #fff;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:active {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        .open {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
            &:hover {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
            &:focus {
              background: rgba(0,0,0,0.1);
              color: #f6f6f6;
            }
          }
        }
        >.active {
          >a {
            background: rgba(0,0,0,0.1);
            color: #f6f6f6;
          }
        }
      }
      .sidebar-toggle {
        color: #fff;
        color: #fff;
        &:hover {
          color: #f6f6f6;
          background: rgba(0,0,0,0.1);
          background-color: #555299;
        }
      }
    }
    .logo {
      background-color: #605ca8;
      color: #fff;
      border-bottom: 0 solid transparent;
      &:hover {
        background-color: #5d59a6;
      }
    }
    li.user-header {
      background-color: #605ca8;
    }
  }
  .user-profile {
    .box-header {
      background-color: #605ca8;
    }
  }
  .content-header {
    background: transparent;
  }
  .wrapper {
    background-color: #f9fafc;
  }
  .main-sidebar {
    background-color: #f9fafc;
  }
  .left-side {
    background-color: #f9fafc;
  }
  .content-wrapper {
    border-left: 1px solid #d2d6de;
  }
  .main-footer {
    border-left: 1px solid #d2d6de;
  }
  .user-panel {
    >.info {
      color: #444;
      >a {
        color: #444;
      }
    }
  }
  .menu{
    >span.header {
      color: #848484;
      background: #f9fafc;
    }
  }
  .sidebar-menu {
    >li {
      -webkit-transition: border-left-color .3s ease;
      -o-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
      >a {
        border-left: 3px solid transparent;
        font-weight: 600;
      }
      &:hover {
        >a {
          color: #000;
          background: #f4f4f5;
        }
      }
      >.treeview-menu {
        background: #f4f4f5;
      }
    }
    >li.active {
      >a {
        color: #000;
        background: #f4f4f5;
        font-weight: 600;
      }
      border-left-color: #605ca8;
    }
  }
  .sidebar {
    a {
      color: #444;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .treeview-menu {
    >li {
      >a {
        color: #777;
        &:hover {
          color: #000;
        }
      }
    }
    >li.active {
      >a {
        color: #000;
        font-weight: 600;
      }
    }
  }
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
    input[type="text"] {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      &:focus {
        background-color: #fff;
        color: #666;
      }
      &:focus+.input-group-btn {
        .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }
    .btn {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }
}
@media (max-width:767px) {
  .skin-blue {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #367fa9;
              }
            }
          }
        }
      }
    }
  }
  .skin-blue-light {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #367fa9;
              }
            }
          }
        }
      }
    }
  }
  .skin-black {
    .main-header {
      >.logo {
        background-color: #222;
        color: #fff;
        border-bottom: 0 solid transparent;
        border-right: none;
        &:hover {
          background-color: #1f1f1f;
        }
      }
    }
  }
  .skin-black-light {
    .main-header {
      >.logo {
        background-color: #222;
        color: #fff;
        border-bottom: 0 solid transparent;
        border-right: none;
        &:hover {
          background-color: #1f1f1f;
        }
      }
    }
  }
  .skin-green {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #008d4c;
              }
            }
          }
        }
      }
    }
  }
  .skin-green-light {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #008d4c;
              }
            }
          }
        }
      }
    }
  }
  .skin-red {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #d73925;
              }
            }
          }
        }
      }
    }
  }
  .skin-red-light {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #d73925;
              }
            }
          }
        }
      }
    }
  }
  .skin-yellow {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #e08e0b;
              }
            }
          }
        }
      }
    }
  }
  .skin-yellow-light {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #e08e0b;
              }
            }
          }
        }
      }
    }
  }
  .skin-purple {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #555299;
              }
            }
          }
        }
      }
    }
  }
  .skin-purple-light {
    .main-header {
      .navbar {
        .dropdown-menu {
          li.divider {
            background-color: rgba(255,255,255,0.1);
          }
          li {
            a {
              color: #fff;
              &:hover {
                background: #555299;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:768px) {
  .skin-blue-light.sidebar-mini.sidebar-collapse {
    .sidebar-menu {
      >li {
        >.treeview-menu {
          border-left: 1px solid #d2d6de;
        }
      }
    }
  }
  .skin-black-light.sidebar-mini.sidebar-collapse {
    .sidebar-menu {
      >li {
        >.treeview-menu {
          border-left: 1px solid #d2d6de;
        }
      }
    }
  }
  .skin-green-light.sidebar-mini.sidebar-collapse {
    .sidebar-menu {
      >li {
        >.treeview-menu {
          border-left: 1px solid #d2d6de;
        }
      }
    }
  }
  .skin-red-light.sidebar-mini.sidebar-collapse {
    .sidebar-menu {
      >li {
        >.treeview-menu {
          border-left: 1px solid #d2d6de;
        }
      }
    }
  }
  .skin-yellow-light.sidebar-mini.sidebar-collapse {
    .sidebar-menu {
      >li {
        >.treeview-menu {
          border-left: 1px solid #d2d6de;
        }
      }
    }
  }
  .skin-purple-light.sidebar-mini.sidebar-collapse {
    .sidebar-menu {
      >li {
        >.treeview-menu {
          border-left: 1px solid #d2d6de;
        }
      }
    }
  }
}
