$mainColor: #00C853;
$darkerMainColor: #43A047;

.dynamicView{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  background: url('http://cdn.pawel-mrowiec.pl/fluid-elements/images/editor-bg.png');

  .progressBar{
    width: 100%;

    .percentageBlock{
      background: $mainColor;
      width: 0;
      height: 5px;
      transition: .3s ease;
      box-shadow: 0 .1rem .1rem rgba(50,50,50,0.75);
    }
  }

  .section{
    height: calc(100% - 105px);
    padding: 3rem;
  }

  .pagination{
    height: 100px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 3rem;

    .child{
      border: .2rem solid #fff;
      border-radius: 50%;
      box-shadow: 0 .1rem .1rem rgba(50,50,50,0.75);
      width: 40px;
      height: 40px;
      background: #fff;
      color: #555;
      display: inline-block;
      margin: 0 .5rem;
      font-size: 2rem;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      transition: .3s ease;

      &:hover{
        background: $mainColor;
        border: .2rem solid $mainColor;
        color: #fff;
      }
      &:active{
        background: $darkerMainColor;
        border: .2rem solid $darkerMainColor;
        color: #fff;
      }
      &.active{
        border: .2rem solid $darkerMainColor;
      }
    }

    .prevButton, .nextButton{
      background: $mainColor;
      box-shadow: 0 .1rem .1rem rgba(50,50,50,0.75);
      color: #fff;
      font-size: 1.7rem;
      padding: .7rem 2rem;
      cursor: pointer;
      transition: .3s ease;
      float: left;

      &:hover{
        background: $mainColor;
        color: #fff;
      }
      &:active{
        background: $darkerMainColor;
        color: #fff;
      }
    }

    .nextButton{
      float: right;
    }

    *::selection{
      background: transparent;
    }
  }
}

@media(max-width: $breakXS){
  .dynamicView{
    overflow-y: auto;
  }
}