$formHeight: 30px;

form{
  position: relative;
  
  .form-group{
    position: relative;
    margin-bottom: 1rem;

    label, .text{
      font-weight: 400;
      height: $formHeight;
      line-height: $formHeight;
    }

    input, textarea{
      height: $formHeight;
      border-radius: 0;
      box-shadow: none;

      &:focus{
        box-shadow: 0 0 .2rem rgba(223,223,223,0.50);
        border-color: #ccc;
      }
    }

    input[type="checkbox"], input[type="radio"]{
      height: auto;
    }

    .checkbox-control{
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      display:block;
      transition: .2s linear;
    }

    .checkbox-control[data-checked="true"]{
      background: #E0E0E0;
    }

    .radio-control{
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      transition: .2s linear;
      display:block;
    }

    .radio-control[data-checked="true"]{
      background: #E0E0E0;
    }

    .file-control{
      position: relative;
      overflow: hidden;
      width: 30px;

      i{
        color: #ccc;
        font-size: 3.5rem;
        cursor: pointer;
      }

      input[type="file"]{
        position: absolute;
        margin: 0;
        padding: 0;
        top:0;
        font-size: .1rem;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }

    textarea{
      height: $formHeight * 2;
      resize: none;
    }

    .error{
      border-color: #B71C1C;
    }

    .submit{
      border-radius: 0;
      color: #fff;
      background: #46b74b;
      margin: 0 1.5rem;
    }
  }

  .select-group{
    position: relative;

    .select{
      cursor: pointer;
    }

    .list{
      border-top: none;

      li{
        color: #000;
        width: 100%;
        display: block;
        padding: .5rem 1.5rem;
        transition: .2s ease;
        cursor: pointer;
        font-size: 1.4rem;
        font-family: "Source Sans Pro", serif;

        &:hover{
          background: #f4f4f4;
        }
        &:focus {
          outline:none !important;
        }
      }
    }
  }

  .errorBlock{
    padding: .5rem 0;
    margin: 0 1.5rem;
    color: #fff;
    background: #B71C1C;
    text-align: center;
  }

  .filesPreview{
    .previewBlock{
      width: 50px;
      height: 50px;
      border: .1rem solid #ccc;
      float: left;
      margin: 1rem .5rem 1rem 0;
      position: relative;

      .progressBar{
        width: 0%;
        height: 1px;
        position: absolute;
        bottom: -3px;
        background: #4CAF50;
        border: .1rem solid #4CAF50;
        border-right: .2rem;
        border-left: .2rem;
      }
    }
  }
}