.list{
  position: absolute;
  right: 1rem;
  padding: 0;
  margin-top: .5rem;
  overflow: hidden;
  z-index: 1203;
  display: none;
  background: #fff;
  border-top: .2rem solid #605ca8;
  border-radius: 0;
  box-shadow: -1px 10px 25px -12px rgba(0,0,0,0.75);
  min-width: 150px;
  max-width: 200px;
  max-height:500px;
  overflow-y: auto;
  font-family: "Open Sans", "Arial", serif;

  li{
    list-style: none;
    background: #fff;
    cursor: default;
    color: #000;
    font-size: 14px;
    display: block;

    & > a, & > span{
      text-decoration: none;
      color: #000;
      display: block;
      padding: .4rem 1.5rem;
      transition: .2s ease;
      cursor: pointer;

      &:hover{
        background: #605ca8;
        color: #fff;
      }

      &:active{
        background: #605ca8;
        color: #fff;
      }
      &:focus {
        outline:none !important;
      }
    }

    &.special{
      background: #f3f3f3;
      padding: 1rem 1.5rem;
    }
  }

  &.disableHover{
    li{
      a{
        &:hover{
          background: inherit !important;
          color: inherit !important;
        }

        &:active{
          background: inherit;
          color: inherit;
        }
      }
    }
  }

  &::selection, & *::selection{
    background: transparent;
    color: inherit;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: #d2d6de;
  }
}

.listClose{
  display: none;
}