.loadScreen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  color: #fff;
  z-index: 1999;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .loadIcon{
    font-size: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    @include translate(-50%, -50%);
  }

  &.loadScreenOpen{
    -webkit-animation: smoothLoad .1s ease;
    -moz-animation: smoothLoad .1s ease;
    animation: smoothLoad .1s ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  &.loadScreenClose{
    -webkit-animation: smoothClose .6s ease .1s;
    -moz-animation: smoothClose .6s ease .1s;
    animation: smoothClose .6s ease .1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}
