.tableWrap{
  min-height: 90%;
  background-color: #fff;
  border: .2rem solid #555;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 4rem;
  position: relative;

  .tableStandard{
    margin: 0 !important;

    thead{
      th{
        border: none !important;
        font-weight: 400 !important;
        padding: .6rem .8rem !important;
        font-size: 1.5rem;
      }
    }

    tbody{
      .tableRow{
        &:first-of-type{
          td{
            border-top: .1rem solid #ccc !important;
          }
        }

        td{
          border: none !important;
          padding: 1rem .8rem !important;
          font-size: 1.4rem;

          .link{
            color: #555;
          }
        }
      }
    }
  }

  .tableFoot{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;

    .actions{
      float: left;
      padding: .5rem 1rem;

      .action{
        @include button();
        display: inline-block !important;
        margin: 0 .5rem !important;
      }

      .action:first-of-type{
        margin: 0 .5rem 0 0 !important;
      }

      .add{
        @include button(#4CAF50, #fff, #388E3C, #fff);
      }

      .deleteAll{
        @include button(#F44336, #fff, #D32F2F, #fff);
      }
    }

    .pagination{
      float: right;
      margin: 0;
      border-radius: 0;
      padding: .5rem 1rem;

      .action{
        @include buttonCircle();
        display: inline-block;
        margin: 0 .5rem;

        &::before{
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          @include translate(-50%,-50%);
          text-decoration: none;
          color: #000;

          &::-moz-focus-inner {
            border: 0;
          }
        }
      }
    }
  }

  .tableMobile{

  }
}